pkgs/Wadl/FixMinQtyPref_Enmax.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://canada-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="FixMinQtyPref_Enmax" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="FixMinQtyPref_Enmax" />
  <grammars>
    <jsonTypes targetNamespace="https://canada-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_Executestoredprocedure_ux28_V2_ux29__projectID_def" />
      <string name="ManualTriggerInput_Executestoredprocedure_ux28_V2_ux29__stage_def" />
      <string name="ManualTriggerInput_Executestoredprocedure_ux28_V2_ux29__version_def" />
      <string name="ManualTriggerInput_Executestoredprocedure_ux28_V2_ux29__estType_def" />
      <string name="ManualTriggerInput_Executestoredprocedure_ux28_V2_ux29__supplier_def" />
      <object name="ManualTriggerInput">
        <property name="Executestoredprocedure(V2)_projectID" type="string" />
        <property name="Executestoredprocedure(V2)_stage" type="string" />
        <property name="Executestoredprocedure(V2)_version" type="string" />
        <property name="Executestoredprocedure(V2)_estType" type="string" />
        <property name="Executestoredprocedure(V2)_supplier" type="string" />
      </object>
      <string name="ResponseActionOutput_items_def_ItemNum_def" />
      <integer name="ResponseActionOutput_items_def_qty_actual_def" />
      <integer name="ResponseActionOutput_items_def_minReq_def" />
      <string name="ResponseActionOutput_items_def_UoM_def" />
      <integer name="ResponseActionOutput_items_def_qtyToAdd_def" />
      <integer name="ResponseActionOutput_items_def_newPriceToAdd_def" />
      <integer name="ResponseActionOutput_items_def_newQtyToAdd_def" />
      <string name="ResponseActionOutput_items_def_PreferredVendDescr_def" />
      <object name="ResponseActionOutput_items_def">
        <property name="ItemNum" type="string" />
        <property name="qty_actual" type="integer" />
        <property name="minReq" type="integer" />
        <property name="UoM" type="string" />
        <property name="qtyToAdd" type="integer" />
        <property name="newPriceToAdd" type="integer" />
        <property name="newQtyToAdd" type="integer" />
        <property name="PreferredVendDescr" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_items_def" name="ResponseActionOutput" />
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://canada-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Executestoredprocedure(V2)_projectID" path="/Executestoredprocedure(V2)_projectID" type="xs:string" required="true" />
            <param style="plain" name="Executestoredprocedure(V2)_stage" path="/Executestoredprocedure(V2)_stage" type="xs:string" required="true" />
            <param style="plain" name="Executestoredprocedure(V2)_version" path="/Executestoredprocedure(V2)_version" type="xs:string" required="true" />
            <param style="plain" name="Executestoredprocedure(V2)_estType" path="/Executestoredprocedure(V2)_estType" type="xs:string" required="true" />
            <param style="plain" name="Executestoredprocedure(V2)_supplier" path="/Executestoredprocedure(V2)_supplier" type="xs:string" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>